* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #b1ebfd;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skill {
    width: 160px;
    height: 160px;
    position: relative;
}
.outer {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.2),
                -6px -6px 10px -1px rgba(255,255,255, 0.5);
}
.inner {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 5px 5px 10px -1px rgba(0,0,0,0.2),
                inset -5px -5px 10px -1px rgba(255,255,255,0.7);
}


.number {
    font-size: 30px;
    font-weight: 700;
    color: #333;
}


svg {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-90deg);
}

circle {
    fill: transparent;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-linecap: butt;
    stroke-dasharray: 440;
    stroke-dashoffset: 100;
    animation: anim 2s linear forwards;
}

@keyframes anim {
    from {
        stroke-dashoffset: 440;
    }
    to {
        stroke-dashoffset: 110;
    }
}
